<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lokesh.keepmemanaged">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/schooltimetable"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/schooltimetable"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register" />
        <activity
            android:name=".Profile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".DaysList" />
        <activity
            android:name=".SaveActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".TimeTable"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Assignments"
            android:label="@string/title_activity_assignments"
            android:theme="@style/AppTheme" />
        <activity android:name=".Temp" />
        <activity
            android:name=".Signin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Login" />

        <receiver
            android:name=".NotificationPublisher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".newservice" />

        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>